.portal {
    padding-top: 30px;
    #topicsboxbd {
        border-width: 1px;
        border-top: 0;
        border-style: solid;
        padding-right: 10px;
        overflow: hidden;
        min-height: 248px;
    }
    .bdA2 {
        border-color: #9eb4db;
    }
}